

header{
	background: /*linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), */url("Mhimages/mhback2.png");
	height:100vh;
	-webkit-background-size : cover;
	background-position: center center;
	position:relative;
	

}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


.nav{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav li {
	display: inline-block;
}
.nav li a {
	/*color: #fff;*/
	color:	black;
	text-decoration: none;
	padding: 5px 20px ;
	/*font-family: poppins;*/
	  font-family: 'Trebuchet MS', sans-serif;
	font-size: 19px;

}
.nav li a:hover{
	background: #fff;
	color: #333;
}


a {
color:	black; 
 }


 *,*::before, *::after {
 	box-sizing: border-box;
 	font-family: Gotham Rounded;
 }

.btn {
	color: black;
	border: 1px solid black;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 19px;
	margin-top: 10%;
	display: inline-block;
	background-color: #6DA7D9
	color: black;
	position: absolute;
	width: 50px

	margin: 20% 45%;
	text-align: center;
	font-size: 30px
}
.btn a:hover{
	/*background: #fff;*/
	background: #6DA7D9;

}
#mhbtn{

		color: black;
	border: 1px solid black;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 19px;
	margin-top: 20px;
	display: inline-block;
	background-color: #6DA7D9
	color: black;
	position: absolute;

	margin: 20% -6%;
	text-align: center;
}