*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.main{
	width: 1170px;
	margin: auto;
}
header{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("images/screen.jpg");
	height:100vh;
	-webkit-background-size : cover;
	background-position: center center;
	position:relative;
	

}
.nav{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav li {
	display: inline-block;
}
.nav li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px ;
	font-family: poppins;
	font-size: 16px;

}
.nav li a:hover{
	background: #fff;
	color: #333;
}
.logo img{
	width: 350px;
	float: left;
	height: auto;
	margin-top: -100px;
	margin-left: -100px;
}
