*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.main{
	width: 1170px;
	margin: auto;
}
header{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("images/55.jpg");
	height:100vh;
	-webkit-background-size : cover;
	background-position: center center;
	position:relative;
	

}
.nav{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav li {
	display: inline-block;
}
.nav li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px ;
	font-family: poppins;
	font-size: 16px;

}
.nav li a:hover{
	background: #fff;
	color: #333;
}
.logo img{
	width: 350px;
	float: left;
	height: auto;
	margin-top: -100px;
	margin-left: -100px;
}
.welcome{
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome h1{
text-align: center;
/*color: #fff;*/
color: azure;
font-family: 'Trebuchet MS', sans-serif;
/*text-transform: uppercase;*/
font-size: 60px;
opacity: 0.5;
}
.welcome a {
	color: azure;
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 19px;
	margin-top: 20px;
	display: inline-block;
	background-color: #6DA7D9
	color: azure;
}
.welcome a:hover{
	/*background: #fff;*/
	background: #6DA7D9;

}
.p{
	color: white;
}
