body{
	margin: 0PX;
	padding:0px;
	 background-image: url(images/mhback2.png);
	 /*background-size: auto;*/
	 
	height: 50%;
	color: black;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 2rem;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}
.btnn{
	background-color: black;
	color: white;
	font-size: 40px;
	padding: 5px;
}

button{
	background-color: black;
	color: white;
	font-size: 40px;
	padding: 5px;
}
img{
	/*width: 20%*/
	border: solid black;
	display: inline-block;
}
.aziz{
	margin-left: 22%;
	margin-bottom :20%;
}

.adam,
.aziz {
  float: left;
  /*height: 100%;*/

  width: 33.33%;
  padding: 5px;

}

#btnsend,
#btnsend1 {
	background-color: cadetblue;
	font-size: 40px
}


p   {
	font-family: cursive;
	font-size: 25px
}


input,
#input1,
#input2 {
	size:40px;
}





